*{ margin: 0
    ;}

header{
    background-image: url('../photos/SG2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    display: flex;
    justify-content: center;
    height: 1.5em ;
    align-items: end;
    color: white;
    font-size: 5em;
}
.bio{
    display: flex;
    text-align: center;
    font-size:large;
    height: 12em;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
}
main{
    background-color: rgb(48, 44, 44);
    height: 400px;
}
iframe{
    margin-left: 30%;
}
.SGtitle{
    display: flex;
    justify-content: center;
    height: 1.5em ;
    align-items: end;
    color: antiquewhite;
    font-size: 2em;

}
.SGdes{
    display: flex;
    text-align: center;
    font-size:large;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    margin-left: 20%;
    margin-right: 20%;
}
footer{
    display: flex;
}
.GGp{
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 15%;
}

.GGtitle{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 2em;
    margin-top: 5%;
}
.GGdes{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.JSEp{
    margin-top: 15%;
    margin-left: 17%;
    margin-right: 15%;
}
.JSEtitle{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 2em;
    margin-top: 5%;
}
.JSEdes{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.SGBEp{
    margin-top: 15%;
    margin-left: 23%;
    margin-right: 15%;
}
.SGBEtitle{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 2em;
    margin-top: 5%;
}
.SGBEdes{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}